* text=auto
*.sh text eol=lf
*.crt text eol=lf
*.csr text eol=lf
*.key text eol=lf
*.php text eol=lf
*.cnf text eol=lf
*.conf text eol=lf
*.keymap text eol=lf
*.ini text eol=lf
*.phar -text
*.so -text